/* Tweak theme to look a bit more Datadog-esque */
:root{--ddpurple: #5C2EA0;}
.rst-content a:visited{color: var(--ddpurple);}
.wy-menu-vertical .caption-text{color: white;}
.wy-menu-vertical a:active {background-color: var(--ddpurple);}
figure img{border: 1px solid #ccc;}
